body {
  background: gray;
}

#app {
  width: 95%;
  height: 80%;
  background-color: #e3e3e3;
  margin: 3rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column wrap;
}

.app-styles {
  background-color: dodgerblue !important;
}
