body {
  background: gray;
}

#app {
  width: 95%;
  height: 80%;
  background-color: black;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.app-styles {
  background-color: dodgerblue !important;
}
